<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>myfuns</title>
        <meta name="description" content="ディスクリプションを入力">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/tutorial.css">
        <script src="/js/tutorial.js"></script>
    </head>
    <body>
        <form class="login-form" action="http://localhost:8080/login" method="POST">
            <p class="login-text">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
              </span>
            </p>
            <input type="text" name="loginId" value="{{.LoginId}}" class="login-username" autofocus="true" required="true" placeholder="Login ID" />
            <input type="password" name="password" value="{{.Password}}" class="login-password" required="true" placeholder="Password" />
            <input type="submit" name="Login" value="Login" class="login-submit" />
        </form>
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div> 
    </body>
</html>